<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="header">
    <h1>🎬 Movie Catalog</h1>
    <a class="btn" th:href="@{/new-movie}">+ Nueva Película</a>
</div>

<form th:action="@{/}" method="get" class="search-bar">

    <input type="text" name="titulo" th:value="${titulo}" placeholder="Buscar por título...">

    <select name="generoId">
        <option value="">Todos los géneros</option>
        <option th:each="genre : ${generos}"
                th:value="${genre.getIdGenero()}"
                th:text="${genre.getGenero()}"
                th:selected="${genre.idGenero == generoId}">
        </option>
    </select>
    <button type="submit" class="btn">Buscar</button>
</form>

<div class="movie-grid">

    <div class="movie-card" th:each="peli : ${peliculas}">
        <a th:href="@{/pelicula/{id}(id=${peli.idPelicula})}">
            <!-- Genera la miniatura usando el ID de la película -->
            <!-- Se añade /vi/ antes del ID del video -->
            <img th:src="${'https://img.youtube.com/vi/' + peli.urlVideo + '/hqdefault.jpg'}" alt="Poster">


        </a>
        <div class="movie-info">
            <h3 th:text="${peli.titulo}">Título</h3>
            <p th:text="${peli.anyo}">Año</p>
        </div>
    </div>



</div>

</body>
</html>